<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet/less" href="main.less"/>
</head>
<body>
  <header>{{title}}</header>
  <footer>
    <div>
        <div>{{formatDate date "MM/DD/YYYY"}}</div>
        <div>{{formatDate date "hh:mm:ss"}}</div>
    </div>
    <div><img src="Octocat.png" alt="Octocat"/></div>
    <div>Page {{> page}} of {{> pages}}</div>
  </footer>
  <section>
    <h1>{{title}}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Owner</th>
            <th>Repository</th>
            <th><span class="octicon octicon-issue-opened"></span></th>
            <th><span class="octicon octicon-repo-forked"></span></th>
            <th><span class="octicon octicon-star"></span></th>
        </tr>
        </thead>
        <tbody>
        {{# repos }}
        <tr>
            <td>{{rank}}.</td>
            <td><img src="{{owner.avatar_url}}" alt="Avatar">{{owner.login}}</td>
            <td>{{name}}</td>
            <td>{{open_issues_count}}</td>
            <td>{{forks_count}}</td>
            <td>{{stargazers_count}}</td>
        </tr>
        {{/ repos }}
        </tbody>
    </table>
  </section>
</body>
</html>
