<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet/less" href="main.less">
</head>
<body>
  <header>{{title}}</header>
  <footer>
    <div>
        <div>{{formatDate date "MM/DD/YYYY"}}</div>
        <div>{{formatDate date "hh:mm:ss"}}</div>
    </div>
    <div><img src="empowered.png" alt="Ensemble"/></div>
    <div>Page {{> page}} of {{> pages}}</div>
  </footer>
  <section>
    <h1>{{title}}</h1>
    {{# biotypes}}
    <h3>{{biotype}}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {{# genes}}
        <tr>
            <td>{{id}}</td>
            <td>{{capitalize description}}</td>
        </tr>
        {{/ genes}}
        </tbody>
    </table>
    {{/ biotypes}}
  </section>
</body>
</html>
